{% extends 'baas.html' %}
{% block body %}
<h1>Tere tulemast veebilehele, kus sa saad jätta kommentaari!</h1>
<h2>Sisesta kommentaar</h2>
<form action='/' method='POST'>
  Kommentaar: 
  <br>
  <input type='text' name='sisu' id='sisu'>
  <br>
  Autor: 
  <br>
  <input type='text' name='autor' id='autor'>
  <br>
  <input class='nupp' type='submit' value='Sisesta'>
  </form>
  <div class="kommentaaride-ala">
  <h3>Kõik kommentaarid:</h3>
  {% for kommentaar in kommentaarid %}
  <div class="kommentaar">
    <p>{{ kommentaar.sisu }}</p>
    <p class="autor"> Autor: {{ kommentaar.autor }}
  </div>
  {% endfor %}
  </div>
{% endblock %}